@{
    ViewBag.Title = "Books List";
}
<h2>Books List</h2>

<table id="demoGrid" class="table table-striped table-bordered dt-responsive" width="100%" cellspacing="0" >
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Description</th>
            <th>Publisher</th>
            <th>Page Count</th>
            <th>Print Type</th>
        </tr>
    </thead>
</table>

<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#demoGrid").DataTable({
                "processing": true, // for show progress bar  
                "serverSide": true, // for process server side  
                "filter": true, // this is for disable filter (search box)  
                "orderMulti": false, // for disable multiple column at once  
                "pageLength": 10,  
                "ajax": {
                    "url": "/Home/GetBooksList",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "Title", "name": "Title", "autoWidth": true },
                    { "data": "Author", "name": "Author", "autoWidth": true },
                    { "data": "Category", "name": "Category", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "Publisher", "name": "Publisher", "autoWidth": true },
                    { "data": "PageCount", "name": "PageCount", "autoWidth": true },
                    { "data": "PrintType", "name": "PrintType", "autoWidth": true },
                ]

            });
        });

    </script>
}
